.page-content-main{
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    gap : 3.125rem;
}

.page-content-side{
    display: flex;
    flex-direction: column;
    gap : 3.125rem;
    flex: 1;
}
.page-content-main h1{
    font-size:clamp(2rem, 4vw, 4.375rem);
    justify-content: center;
    text-align: center;
    color: #C60800;
}

.first-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.first-block .image-wrapper{
    width: 100%;
    max-width: 750px;
    height: auto;
}
.story-flags{

}
#main-header-cover-section-wrapper{
    margin: 3vh 0;
}
#main-header-cover-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    min-height: 40px;
    border: 2px solid black;
    color: #C60800;
    background-color: white;

}
#inner-logo-wrapper{
    max-width: 190px;
}

/*CODE TO STYLE THE SWAPPING IMAGES AND HIS NEAREST SURROUNDINGS*/
.cover-logo-wrapper{
    margin : 20px 0 0 0 ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.today-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.today-cover h3{
    margin-top : 10px;
    text-align: center;
}

#cover-footer-container{
    margin-top: 30px;
    height: 100%;
}

.image-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    transition: all 0.3s ease;
    text-align: center;
}

#subtitle {
    /*font-size: 16px;*/
    color: #666;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    text-align: center;
}

.image-wrapper-covers {
    max-width: 300px;
    position: relative;
    width: 80%;
    height: 150px;
    display: block;
    padding: 15px 0 0 15px;
    box-sizing: border-box;
}

.image {
    position: absolute;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    transition: all 0.3s ease;
    background-color: #ddd;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
}

.front-image {
    z-index: 2;
    background-color: #ffd700;
    top: 15px;
    left: 15px;
}

.back-image {
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #87ceeb;
}

.image-container:hover .front-image {
    z-index: 1;
    top: 0;
    left: 0;
}

.image-container:hover .back-image {
    z-index: 2;
    top: 15px;
    left: 15px;
}

.image-container:hover .subtitle {
    opacity: 0;
}

@media (min-width: 1450px){
    .image-wrapper-covers{
        height: 200px;
    }
}
@media (max-width: 957px) {
    .page-content{
        flex-direction: column;
    }
    .image-wrapper-covers{
        width: 35%;
    }
}

@media (max-width: 500px) {
    .image-wrapper-covers{
        width: 45%;
    }
}
