#sixth-block {
    margin : 2.5rem 0;
}
#sixth-block h3{
    margin-top: 0.625rem;
}

#sixth-block-header{
    padding: 0.1875rem 0;
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
}
#sixth-block-content {
    margin-top: 1.25rem;
    display: flex;
    gap: 1.25rem;
}
#sixth-block .image-wrapper{
    position: relative;
}
.play-button-symbol{
    position: absolute;
    bottom: 0.3125rem;
    left: 0.3215rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #C60800;
    border-radius: 50%;

}
.sixth-block-module{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.625rem;
}
#sixth-block-right-side{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}
#sixth-block-main{
    width: 50%;
}

#sixth-block-right-side .image-wrapper,.video-wrapper{
    width: 144px;
    height: 96px;
}
@media (max-width: 665px){
    #sixth-block-main{
        width: 100%;
    }
    #sixth-block-right-side{
        width: 100%;
        gap: 1.25rem;
    }
    #sixth-block-content{
        gap: 2.50rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sixth-block-module{
        flex-direction: column;
        align-items: center;
    }
    #sixth-block-content h3,h4{
        text-align: center;

    }

}
