.breaking-news {
    min-width: 148px;
    max-height: 37px;
    background-color: #FAD734;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}
.breaking-news div{

    font-size: 1.1cqw;
    font-weight:bold;

}

.breaking-label {
    min-width: 150px;
    text-align: center;
    color: white;
    background: black;
    padding: 10px 45px;
    clip-path: polygon(
            0% 0%,
            100% 0%,
            80% 100%,
            0% 100%
    );
}

.breaking-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1160px) {
    .breaking-label {
        align-items: center;
    }
}

@media (max-width: 768px) {
    .breaking-news{
        margin:auto;
    }
    .breaking-news div{
        font-size: 1.8cqw;
    }

}
@media (max-width: 425px) {

    .breaking-news div{
        font-size: 2.5cqw;

    }

}
