.breaking-news {
    min-width: 148px;
    background-color: #FAD734;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}
.breaking-news div{
    font-weight:bold;

}

.breaking-label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    /*text-align: center;*/
    color: white;
    background: black;
    padding: 10px 45px;
    clip-path: polygon(
            0% 0%,
            100% 0%,
            80% 100%,
            0% 100%
    );
}

.breaking-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1160px) {
    .breaking-label {
        align-items: center;
    }
}

@media (max-width: 768px) {
    .breaking-news{
        margin:auto;
    }

}
@media (max-width: 385px) {
    .breaking-news{
        flex-direction: column;
    }
    .breaking-label {
        clip-path: none;
    }
    #breaking-content-wrapper {
        padding: 13px;
    }
    .promo-section{
        margin-top: 10px;
    }
}
@media (min-width: 1200px){

    .breaking-news div{
        font-size: 1.1cqw;
    }
    .breaking-label{
        padding: 10px 60px 10px 10px;
    }
}



