.container-flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}