#horoscope-section{
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    border-top: 2px solid black;
    gap: 0.9375rem;
}
#horoscope-header{
    padding : 0.1rem;
    font-weight: bold;
    border-bottom: 1px solid gray;
}
#horoscope-header a{
    color: #C60800;

}
#horoscope-subheader{
    text-align: center;


}
#taurus-image-wrapper{
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 50%;
    overflow: hidden;
}