.nav-bar-container {
    min-height: 33px;
    background-color: black;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inner-nav-bar-container {
    background-color: transparent;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

ul.nav-list li {
    margin: 0 7px;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

ul.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

ul.nav-list li:not(:last-child)::after {
    content: "|";
    color: white;
    margin-left: 10px;
}

ul.nav-list li a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .inner-nav-bar-container {
        width: 100%;
    }
}
@media (max-width: 530px) {
    ul.nav-list li {
        font-size: 11px;
    }
}