.third-block {
    border-bottom: 1px solid black;
    margin-top: 3vh;
    display: flex;
    width : 100%;
    overflow : hidden;
    padding: 2% 2% 5% 2%;
    gap : 3%
}
.third-block h2{
    margin-bottom: 2%;
}

.third-block-main-section {
    flex: 66%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid black;
    padding: 1% 4% 1% 2%;
}

.third-block-aside-section {
    flex : 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 2% 1% 2%
}

.third-block-aside-module {
    margin: 5% 0 ;
    border-bottom: 1px solid black;

}
.third-block p{
    margin-top: 3%;
    padding-bottom: 4%;
}

.third-block-aside-module:last-child {
    border-bottom: none;
}

.third-block-main-section .image-wrapper{
    width: 100%;
}



#third-block-main-image-wrapper {
    flex-basis: 40%;

}
@media (max-width: 768px){
    .third-block{
        flex-direction: column;
    }
    .third-block-main-section {
        border-right: none;
        border-bottom: 1px solid black;
    }
    .third-block-aside-section {
        flex-direction: row;
        align-items: flex-start;
    }
    .third-block-aside-module {
        padding: 2.5%;
        width: 50%;
        border-bottom: none;
    }

}
