#trending-section{
    padding: 1.25rem;
    border: 1px solid #E5E5E5;
}

#trending-section-main{
    margin-top: 1.25rem;
}

#trending-section>h4{
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.trending-section-module{
    padding: 0.3125rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#trending-section>h4::after{
    content: "";
    position: absolute;
    left: -1.25rem;
    top : 1.2rem;
    height: 0.3125rem;
    background-color: #C60800;
    display: block;
    width: calc(100% + 1.25rem);
}

.thick-underline-left{
    background-color: #C60800;
    max-width: max-content;
    height: 0.3125rem;
}

.trending-section-module{
    border-bottom: 1px solid #E5E5E5;
    padding: 1.5rem 0
}

.trending-section-module:last-child{
    border-bottom: none;
}

#trending-section .container-flex-end{
    margin-top: 0.625rem;
}

#trending-section .container-flex-end{
    align-items: center;
    font-weight: bold;
}

#trending-section .container-flex-end::after{
    margin-left: 0.3125rem;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid black;
}

#trending-section .container-flex-end:hover,#trending-section .container-flex-end:hover::after{
    color: #C60800;
    border-left-color: #C60800;
}

.trending-section-module .image-wrapper{
    max-width: 95px;
    max-height: 65px;
}