#page-six-container {
    margin: 40px 0;
}

#left-line{
    flex: 0 0 8%;
}

#page-six-wrapper-title{
    border : 3.5px solid white;
}

#page-six-title{
    padding: 4%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-six-wrapper-title{
    max-width: 200px;
    width: 40%;
    height: 100%;
}

.fourth-block-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.fourth-block-left, .fourth-block-center,.fourth-block-right {
    display: flex;
    flex-direction: column;
}

.fourth-block-left,.fourth-block-right{
    width: 25%;
}

.fourth-block-center{
    width: 45%;
}

.fourth-block-module,.fourth-block-module-center{
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    padding : 0 3%;
    margin-bottom: 20px;
}

.fourth-block-container .image-wrapper>img {
    display: block;
}

.fourth-block-container .container-flex-start-no-gap{
    margin-top: 0.625rem
}

@media (max-width: 768px) {
    .fourth-block-module .image-wrapper {
        flex: 0 0 40%;
        margin-right: 15px;
    }
    .fourth-block .container-flex-column{
        max-width: 422.29px;
    }

    .fourth-block-left,.fourth-block-center,.fourth-block-right {
        width: 100%;
    }

    .fourth-block-container{
        gap: 2rem
    }

    .fourth-block-module,.fourth-block-module-center{
        margin-bottom: 2.5rem;
    }

    .fourth-block-left{
        order : 2;
        border-bottom: 1px solid #EDEDED;
    }

    .fourth-block-right{
        order : 3;
        border-bottom: 1px solid black;
    }

    .fourth-block-center{
        order: 1;
        border-bottom: 1px solid #EDEDED;
    }

    .fourth-block-module{
        flex-direction: row;
    }

}

@media (max-width: 550px) {
    .fourth-block-module .image-wrapper{
        height: 90px;
    }
}
